# Database Configuration
DB_HOST=localhost
DB_USER=zestpayn_dominion
DB_PASSWORD=Dorc@s12345#
DB_DATABASE=zestpayn_nodeapp9

# Application Settings
PORT=3000
SITE_URL=http://localhost:3000

# SMTP Configuration (Optional for development)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=oxbot18@gmail.com
SMTP_PASS=tfyr tuta igvg uqlb
