# Dependencies
node_modules/
node_modules_old/

# WhatsApp Sessions
sessions/

# Private folders
database/
oxbot/
routes/

# Environment
.env
config.js

# Temporary files
temp/
tmp/
tmp_old/
logs/
*.log

# Archives
*.zip

# PM2
.pm2/
